<%- include("./partials/header") %>
<div class="ui main text container">
    <div id="main" class="ui huge header">Bloglr - RESTful Blog App</div>
    <% blogs.forEach((blog)=>{%>
    <div class="ui top attached segment">
        <div class="ui divided item">
            <div class="item">
                <div class="image">
                    <img src="<%- blog.image %>" alt="<%- blog.title %>">
                </div>
                <div class="content">
                    <a class="header" href="/blogs/<%- blog._id %>"><%- blog.title %></a>
                    <div class="meta">
                        <span><%- blog.created.toDateString() %></span>
                    </div>
                    <div id="button" class="description">
                        <p><%- blog.body.substring(0, 100) %>...</p>
                    </div>
                    <div class="extra">
                        <a id="button" class="ui violet basic button big" href="/blogs/<%- blog._id %>">Lee mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}) %>
</div>
<%- include("./partials/footer") %>